GROQ_API_KEY=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
GROQ_MODEL_PRIMARY=llama-3.1-8b-instant
GROQ_MODEL_CONTEXT=llama-3.3-70b-versatile
DATABASE_URL=sqlite:///./hcp_crm.db
ALLOWED_ORIGINS=http://localhost:3000